.article-content {
  white-space: normal;

  h1 {
    text-align: center;
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    text-indent: 2em;
    line-height: 1.666em;
  }

  img {
    display: block;
    width: 100%;
  }

  code {
    display: block;
    padding: 0.5em 0.5em 0.5em 0.7em;
    background-color: #ddd;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: auto;
    font-family: "Courier New", Courier, monospace, sans-serif;
  }
}

.article-content-url {
  a {
    text-decoration: underline;
  }
}
