@charset "utf-8";

@backgroundColor: #00439c;

.login-page {
  background-color: @backgroundColor;
  height: 100%;
  color: #fff;
  overflow: hidden;

  .img-div {
    text-align: center;
    padding-top: 100px;
  }
  .login-form {
    margin: 30px 5%;
    text-align: center;
  }
}
